<h1>Users</h1>

<% @users.each do |user| %>
  <div>
    <%= user.username %>
    
    <% if user != current_user %>
      <% follow_request = current_user&.sent_follow_requests&.find_by(recipient_id: user.id) %>
      
      <% if follow_request.nil? %>
        <%= button_to "Follow", follow_requests_path(recipient_id: user.id), method: :post %>
      <% elsif follow_request.status == "accepted" %>
        <%= button_to "Unfollow", follow_request_path(follow_request), method: :delete %>
      <% elsif follow_request.status == "pending" %>
        <span>Request sent</span>
        <%= button_to "Cancel", follow_request_path(follow_request), method: :delete %>
      <% end %>
    <% end %>
  </div>
<% end %>
